In [ ]:
!pip install langdetect

In [18]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize, TreebankWordTokenizer, WordPunctTokenizer, BlanklineTokenizer, RegexpTokenizer
from nltk.stem import PorterStemmer, WordNetLemmatizer, PorterStemmer
from langdetect import detect
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [ ]:
nltk.download("punkt")

In [7]:
txt = "Söylenmiş sözler ardına saklanmış gizli hüzün ve keder, sözleri içerisinde bir karanlık gibiydi."

In [11]:
sentence = "Welcome everyone. Todays lesson is natural language processing. Our topic is tokenization."

In [12]:
sent_tokenize(sentence)

['Welcome everyone.',
 'Todays lesson is natural language processing.',
 'Our topic is tokenization.']

In [14]:
word_tokenize(sentence)

['Welcome',
 'everyone',
 '.',
 'Todays',
 'lesson',
 'is',
 'natural',
 'language',
 'processing',
 '.',
 'Our',
 'topic',
 'is',
 'tokenization',
 '.']

In [20]:
ttokenizer = TreebankWordTokenizer()
ttokenizer.tokenize(sentence)

['Welcome',
 'everyone.',
 'Todays',
 'lesson',
 'is',
 'natural',
 'language',
 'processing.',
 'Our',
 'topic',
 'is',
 'tokenization',
 '.']

In [21]:
wtokenizer = WordPunctTokenizer()
wtokenizer.tokenize(sentence)

['Welcome',
 'everyone',
 '.',
 'Todays',
 'lesson',
 'is',
 'natural',
 'language',
 'processing',
 '.',
 'Our',
 'topic',
 'is',
 'tokenization',
 '.']

In [23]:
btokenizer = BlanklineTokenizer()
btokenizer.tokenize(sentence)

['Welcome everyone. Todays lesson is natural language processing. Our topic is tokenization.']

In [26]:
rtokenzier = RegexpTokenizer("{A-Z}\w+")
rtokenzier.tokenize(sentence)

[]

In [41]:
ps = PorterStemmer()
ps.stem(sentence)
words = ["houses", "trains", "pens", "cars", "eaten", "sick", "nice", "bought", "selling"]
[ps.stem(word) for word in words]

['hous', 'train', 'pen', 'car', 'eaten', 'sick', 'nice', 'bought', 'sell']

In [56]:
lm = WordNetLemmatizer
lm.lemmatize("working", pos="v")

TypeError: WordNetLemmatizer.lemmatize() missing 1 required positional argument: 'word'

In [8]:
df = pd.read_csv("yelp.csv")

In [9]:
df.columns

Index(['business_id', 'date', 'review_id', 'stars', 'text', 'type', 'user_id',
       'cool', 'useful', 'funny'],
      dtype='object')

In [10]:
df[df.stars==1]

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
23,IJ0o6b8bJFAbG6MjGfBebQ,2010-09-05,Dx9sfFU6Zn0GYOckijom-g,1,U can go there n check the car out. If u wanna...,review,zRlQEDYd_HKp0VS3hnAffA,0,1,1
31,vvA3fbps4F9nGlAEYKk_sA,2012-05-04,S9OVpXat8k5YwWCn6FAgXg,1,Disgusting! Had a Groupon so my daughter and ...,review,8AMn6644NmBf96xGO3w6OA,0,1,0
35,o1GIYYZJjM6nM03fQs_uEQ,2011-11-30,ApKbwpYJdnhhgP4NbjQw2Q,1,"I've eaten here many times, but none as bad as...",review,iwUN95LIaEr75TZE_JC6bg,0,4,3
61,l4vBbCL9QbGiwLuLKwD_bA,2011-11-22,DJVxOfj2Rw9zklC9tU3i1w,1,I have always been a fan of Burlington's deals...,review,EPROVap0M19Y6_4uf3eCmQ,0,0,0
64,CEswyP-9SsXRNLR9fFGKKw,2012-05-19,GXj4PNAi095-q9ynPYH3kg,1,Another night meeting friends here. I have to...,review,MjLAe48XNfYlTeFYca5gMw,0,1,2
...,...,...,...,...,...,...,...,...,...,...
9924,mhQCxOiqp03qnhGRTtPduw,2012-07-07,PCjnn__E8AzNa2kXFXxTHQ,1,Horrible service.,review,rvaJcf5OIY2So_pkoqDHLQ,0,1,0
9931,C_eWAEOvkHZ_IZYGwjtpmg,2011-04-25,QfdoE-XqEeCsttJH8g0ugQ,1,I love Saddle Ranch for its casual night time ...,review,yhGfcKunPjcy-v-1ppr6oQ,0,2,0
9953,QCxXYA13PtkD3wec47_r8Q,2012-03-14,V2N2TCqnaqMYfg7zXGG-Rg,1,"""Hipster,Trendy"" ????-I think NOT !!!! Very di...",review,JEQ6el2-tLtKJU6k_SpE-w,0,2,0
9984,wepFVY82q_tuDzG6lQjHWw,2012-02-12,spusZYROtBKw_5tv3gYm4Q,1,Went last night to Whore Foods to get basics t...,review,W7zmm1uzlyUkEqpSG7PlBw,0,1,2
9987,r-a-Cn9hxdEnYTtVTB5bMQ,2012-04-07,j9HwZZoBBmJgOlqDSuJcxg,1,The food is delicious. The service: discrimi...,review,toPtsUtYoRB-5-ThrOy2Fg,0,0,0

In [11]:
df['text'] = df['text'].str.lower()

In [12]:
df['text'] = df['text'].str.replace('[^\w\s]', '')

In [13]:
df.text[0]

'my wife took me here on my birthday for breakfast and it was excellent.  the weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  our waitress was excellent and our food arrived quickly on the semi-busy saturday morning.  it looked like the place fills up pretty quickly so the earlier you get here the better.\n\ndo yourself a favor and get their bloody mary.  it was phenomenal and simply the best i\'ve ever had.  i\'m pretty sure they only use ingredients from their garden and blend them fresh when you order it.  it was amazing.\n\nwhile everything on the menu looks excellent, i had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  it came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  it was the best "toast" i\'ve ever had.\n\nanyway, i can\'t wait to go back!'

In [14]:
df['language'] = df['text'].apply(lambda x: detect(str(x)))
non_english_df = df[df['language']].unique()
non_english_languages = non_english_df['language'].unique()

for lang in non_english_languages:
    print(lang)

KeyError: "None of [Index(['en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en',\n       ...\n       'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en'],\n      dtype='object', length=10000)] are in the [columns]"

In [16]:
yelpbw = df[(df.stars==1)|(df.stars==5)]
yelpbw.reset_index(drop=True, inplace=True)
yelpbw.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,language
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,en
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,en
2,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"rosie, dakota, and i love chaparral dog park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,en
3,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,en
4,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,drop what you're doing and drive here. after i...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4,en

In [19]:
pr = PorterStemmer()